
spring:
  application:
    name: user-service

server:
  port: 8083
eureka:
  instance:
    hostname: localhost
  client:
    serviceUrl:
      defaultZone : http://${eureka.instance.hostname}:8082/eureka/

api:
    chucknorris: 
      path: https://api.chucknorris.io/jokes/random